<tr class="invoice-item">
    <td>{{ invoice_item_formset.empty_form.product }}</td>
    <td>{{ invoice_item_formset.empty_form.quantity }}</td>
    <td>{{ invoice_item_formset.empty_form.rate }}</td>
    <td>{{ invoice_item_formset.empty_form.taxable }}</td>
    <td>{{ invoice_item_formset.empty_form.cgst }}</td>
    <td>{{ invoice_item_formset.empty_form.sgst }}</td>
    <td>{{ invoice_item_formset.empty_form.igst }}</td>
    <td>
        <button type="button" class="remove-item">Remove</button>
    </td>
</tr>