{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'appinvoice/main.css' %}"> 
    
    {% if title %}
        <title>Invoice - {{ title|upper }}</title>
    {% else %}    
        <title>Invoice</title>
    {% endif %}    
    <!-- {% block style_content %}{% endblock style_content %} -->
</head> 
<body>
    {% block content %}{% endblock %}
</body>
</html>