{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'appinvoice/main.css' %}"> 
    <title>Invoice System</title>
    <script src="https://unpkg.com/htmx.org@1.7.0"></script>
    
    {% if title %}
        <title>Invoice - {{ title|upper }}</title>
    {% else %}    
        <title>Invoice</title>
    {% endif %}    
    <!-- {% block style_content %}{% endblock style_content %} -->


    <style>
        .hidden{
            display: none;
        }
        
    </style>
</head> 
<body>
    {% block content %}{% endblock %}
</body>
</html>